h1{
font-family: myMainFont;
font-size: 1.4em;
letter-spacing: 3px;
}

h2{
font-family: myMainFont;
font-size: 2em;
letter-spacing: 3px;
color: #000;
}

h3{
font-family: myMainFont;
font-size: 1.5em;
letter-spacing: 3px;
color:#008;
}

a:hover{
text-decoration: none;
color: #000;
}

ul{
list-style-type: none;
}

/*import font*/
@font-face{
font-family: myMainFont;
src: url('../images/a song for jennifer.ttf'),
     url(''); /* IE9 */
}

/*style main container*/
.container{
background-color: #bae8c6;
margin-top:10px;
padding:20px;
background:url(../images/bg_admin.png) repeat;
}

.placeholder {
border: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

/*----------navigation menu styles-----------------------*/
.navbar-inverse .navbar-inner {
background:url(../images/bg.png) repeat;
border:none;  
}

.navbar-inverse .btn-navbar.active {
background-color: #000;
}
.navbar-inverse .nav > li > a {
color: #000;
font-size:1em;
}

/*--------styles for order_pages page------------------*/
.mjs-nestedSortable-error {
	background: #fbe3e4; border-color: transparent;
}

ol {
	margin: 0; padding: 0; padding-left: 30px;
}

ol.sortable,ol.sortable ol {
	margin: 0 0 0 25px; padding: 0; list-style-type: none;
}

ol.sortable {
	margin: 4em 0;
}

.sortable li {
	margin: 5px 0 0 0; padding: 0;
}

.sortable li div {
	border: 1px solid #d4d4d4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border-color: #D4D4D4 #D4D4D4 #BCBCBC; padding: 6px; margin: 0; cursor: move; background: #f6f6f6; background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed) ); background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr = '#ffffff', endColorstr = '#ededed', GradientType = 0 );
}


/*----------tables styling-------------------------------*/
table.login{
background:#ff8c00;
}

table.login td{
font-size: 1.3em;
font-weight: bold;
font-family: myMainFont;
letter-spacing: 3px;
}

table.login input[type="submit"]{
width:400px;
padding: 10px;
}
/*log in modal*/
.modal{
background:#ff8c00;
}

table.user_form{
 font-weight: bold;
 width:70%;
}

table.user_form tr{
margin-bottom:40px;
/*background: red;*/
padding: 10px;
}


table.user_form td.title{
width:20%;

}

table.sales {
font-size: 0.9em;
}

/*---------------------extra classes and ID's for styling----------------------*/
.bolder{
font-weight: bold;
}
.logErrors{
color: blue;
font-size: 1em;
font-family: myMainFont;
}

.emailflashdata{
color: blue;
font-size: 1em;
font-family: myMainFont;
letter-spacing: 3px;
}

.addArticle{
font-size: 1.6em;
display: inline-block;;
margin-bottom: 10px;
padding-bottom: 10px;
}

#successMessage{
background: none;
padding: 10px;
}

.imageSuccess{
color: green;
}

#infoMessage{
color:#ff2200;
}

.errorArticle{
color:#ff2200;
font-size: 0.8em;
}

.inline{
display: inline-block;
margin-bottom: 20px;
color: green;
}

#userIdreference{
display: inline-block;
margin-bottom: 20px;
color: green;

}
.currentImage{
color: #325a1b;	
}
/*style the current image in administration*/
.currentImage img{
margin-left:5%%;
border: 2px solid black;
}
/*style error message for add/edit user*/
p#bad_name{
font-size: 0.8em;
}
p#bad_email{
font-size: 0.8em;
}

/*-------style the custom button-----------------*/
/*main button*/
.btn-custom {
color: #000;
font-family: myMainfont;
font-size: 1.2em;
padding: 5px;
background-color: hsl(32, 100%, 40%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa43d", endColorstr="#cc6c00");
background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa43d), to(#cc6c00));
background-image: -moz-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -ms-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa43d), color-stop(100%, #cc6c00));
background-image: -webkit-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -o-linear-gradient(top, #ffa43d, #cc6c00);
background-image: linear-gradient(#ffa43d, #cc6c00);
border-color: #cc6c00 #cc6c00 hsl(32, 100%, 34.5%);
color: #333 !important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
-webkit-font-smoothing: antialiased;
}

.btn-empty{
border:2px solid black;
}

/*------------style ui widgets and tooltips--------------------------*/
 .ui-datepicker {  
width: 216px;  
height: auto;  
margin-left: 240px;  
margin-top: -30px;
font: 1em Arial, sans-serif;  
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
}

.tooltip {
background-color:#000;
border:1px solid #fff;
padding:10px 15px;
width:200px;
display:none;
color:#fff;
text-align:left;
font-size:12px;
/* outline radius for mozilla/firefox only */
-moz-box-shadow:0 0 10px #000;
-webkit-box-shadow:0 0 10px #000;
}

.ui-tooltip, .arrow:after {
position: absolute;
background: #fff;
border:1px solid #e1e0aa;
padding: 10px;
}
  
.ui-tooltip {
z-index:10;
width:200px;
max-width:100%;
font-size:1em;
}


