body{
font-size: 1.1em;
}

h1{
font-family: myMainFont;
font-size: 1.4em;
letter-spacing: 3px;
}

/*style main container*/
.container{
margin-top:10px;
padding:20px;
background-color: #bae8c6;
background:url(../images/bg_admin.png) repeat;
}

/*import font*/
@font-face{
font-family: myMainFont;
src: url('../images/a song for jennifer.ttf'),
     url(''); /* IE9 */
}

.placeholder {
	border: 1px dashed #4183C4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}

ol {
	margin: 0; padding: 0; padding-left: 30px;
}

/*----------navigation menu styles-----------------------*/
.navbar-inverse .navbar-inner {
background: green;
background:url(../images/bg.png) repeat;
border:none; 
}

/*style the active link*/
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
background:none;
color: #FFFFFF;
}

.navbar-inverse .brand{ 
font-family: myMainFont;
color: #000;
font-weight: bold;
letter-spacing: 3px;
}

.navbar-inverse .nav > li > a {
color: #000;
}

.navbar-inverse .nav > li.logout > a {
margin-left: 10%;
color:#ff8c00;
background: black;
}

/*---------------------extra styles----------------------*/
.addArticle{
font-size: 1.6em;
display: inline-block;;
margin-bottom: 10px;
padding-bottom: 10px;
}

#successMessage{
background: none;
padding: 10px;
}

.imageSuccess{
color: green;
}

#infoMessage{
  color: red;
}

.errorArticle{
color:#ff2200;
font-size: 0.8em;
}

/*style the current image in administration*/
.currentImage img{
border: 4px solid black;
}

/*-------style the custom button-----------------*/
.btn-custom {
color: #000;
font-family: myMainfont;
font-size: 1.2em;
padding: 5px;
  background-color: hsl(32, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa43d", endColorstr="#cc6c00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa43d), to(#cc6c00));
  background-image: -moz-linear-gradient(top, #ffa43d, #cc6c00);
  background-image: -ms-linear-gradient(top, #ffa43d, #cc6c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa43d), color-stop(100%, #cc6c00));
  background-image: -webkit-linear-gradient(top, #ffa43d, #cc6c00);
  background-image: -o-linear-gradient(top, #ffa43d, #cc6c00);
  background-image: linear-gradient(#ffa43d, #cc6c00);
  border-color: #cc6c00 #cc6c00 hsl(32, 100%, 34.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
  -webkit-font-smoothing: antialiased;
}

.btn-empty{
font-size: 0.7em;
border:2px solid black;
}

/*------------style ui widgets and tooltips--------------------------*/
 .ui-datepicker {  
width: 216px;  
height: auto;  
margin-left: 240px;  
margin-top: -30px;
font: 1em Arial, sans-serif;  
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);  
}

.tooltip {
background-color:#000;
border:1px solid #fff;
padding:10px 15px;
width:200px;
display:none;
color:#fff;
text-align:left;
font-size:12px;
/* outline radius for mozilla/firefox only */
-moz-box-shadow:0 0 10px #000;
-webkit-box-shadow:0 0 10px #000;
}

.ui-tooltip, .arrow:after {
position: absolute;
background: #fff;
border:1px solid #e1e0aa;
padding: 10px;
}
  
.ui-tooltip {
z-index:10;
width:200px;
max-width:100%;
font-size:1em;
}






