body{
font-size: 0.8em;
}

h1{
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 1.7em;
letter-spacing: 3px;
}

h2{
font-family: myMainFont;
font-size: 1.1em;
letter-spacing: 2px;
margin-top:5px;
margin-bottom: 0;
}

h3{
font-family: myMainFont;
font-size: 1.2em;
letter-spacing: 3px;
color: green;
}

p{
font-family:Arial, Helvetica, sans-serif;
font-size:0.8em;
}

img {
border:6px solid black;
max-width:150px;
}

/*style main container*/
.container{
margin-top:10px;
padding:20px;
}





