body{
background:#8fae71;
font-size:1.2em;
background:#99b96a; 
background:url(../images/bodyBg.png) repeat;
}

.container{
background-color: #bae8c6;
margin-top:10px;
padding:20px;
background:url(../images/bg2.png) repeat;
border: dotted 8px black;

}
/*style container image*/
.containerImg {
z-index: 999;
height: auto;
max-width: 100%;
position: absolute;
left: -5px;

}

/*import font*/
@font-face{
  font-family: myMainFont;
    src: url('../images/a song for jennifer.eot'); /* IE9 Compat Modes */
  src: url('../images/a song for jennifer.ttf') format('truetype');
}

p{
margin-left:5px;
}

ul li{
color: #000;
list-style-type: none;
}

a{
text-decoration: none;   
}

a:hover{
text-decoration: none;   
}

/*--------headers and header links----------------------*/
h1 {
font-family: myMainFont;
font-size:3em;
margin-left: 3%;
color: #000;
}

h1.products{
margin-left :25%;
}


h2 {
font-family: myMainFont;
font-size:2.4em;
margin:4px 2% 8px 2%;
padding: 5px 0 2px 5px;
opacity: 0.9;
color: #000;
background: none;
text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

h2.addArticle{
background: #ff8100;
margin-bottom: 30px;
}

/*adds style to welcomepage heading*/
.frontPage {
font-family: myMainFont;
font-size:2.3em;
color: #fff;
letter-spacing: 7px;
background: none;
text-shadow:none;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

h3 {
color: green;
font-family: myMainFont;
font-size: 1.7em;
letter-spacing: 3px;
margin-left: 2%;
}

h3.shiftRgt{
margin-left:3%;
}


h3 a{
font-family: myMainFont;
font-size: 0.6em;
letter-spacing: 3px;
margin: 1px;
padding: 2px;
color:#0c2305;
text-shadow: 1px 1px #81A060;
}


h4 {
color: black;
font-family: myMainFont;
font-size: 1.8em;
letter-spacing: 3px;
margin-left:4%;
}

h5  {
display: inline-block;
font-family: myMainFont;
margin-left: 4%;
opacity: 0.9;
color: #000;
}

h5 a {
display: inline-block;
font-family: myMainFont;
font-size:2.2em;
margin-left: 4%;
opacity: 0.9;
text-decoration: none; 
color: green;
text-shadow: 1px 1px #81A060;
letter-spacing: 3px;
}

h5 > a:hover {
text-decoration: none;
color: #fff;
}

h5.artistsMenu{
font-size: 1.4em;
color: black;
letter-spacing: 3px;
}

h6 a {
width: 100px;
height:100px;
display: inline-block;
font-family: myMainFont;
font-size:1.7em;
margin-left: 4%;
margin-top: 10px;
padding:38px 0 0 8px;
opacity: 0.9;
text-decoration: none; 
color: #fff;
background: url("../images/circleOrange5.png") no-repeat scroll 0px 0px transparent;
}

h6 > a:hover {
text-decoration: none;
}

/*h6 a{
font-size:1.5em; 
color: #fff;


}*/

h7 a {
width: 84px;
height:90px;
display: inline-block;
font-family: myMainFont;
font-size:1.2em;
margin-left: 4%;
margin-top: 10px;
margin-bottom:10px;
padding-top: 35px;
padding-left: 23px;
opacity: 0.9;
text-decoration: none; 
color: #fff;
background: url("../images/circleDays.png") no-repeat scroll 0px 0 transparent;
}


h8 a {
width: 100px;
height:100px;
display: inline-block;
font-family: myMainFont;
font-size:0.8em;
margin-left: 4%;
margin-top: 10px;
padding: 28px 0 0 5px;
opacity: 0.9;
text-decoration: none; 
color: #fff;
background: url("../images/circleOrange8.png") no-repeat scroll 0px 0px transparent;
}

h7 > a:hover {
text-decoration: none;
}

/*--------individual add-on classes for styling headers-----------------*/
.wider{
letter-spacing: 4px;
}

.wider2{
letter-spacing: 2px;
}

.wider5{
letter-spacing: 9px;
}

.centre{
text-align: center;
}

/*------style the logo----------*/
.logo {
background: url("../images/white3.png") repeat-x scroll 0 29px transparent;
width: 90%;
margin: 10px 1% 0 1%;
padding: 10px;
letter-spacing: 7px;
font-size:3.5em;
border:none;
color:#152207;
text-shadow: 1px 1px #81A060;
}

/*-------------------------navigations----------------------------*/
/* Customize the navbar using .navbar */
.navbar {
margin-bottom: 35px;
background: none;
}

.navbar .navbar-inner {
padding: 0;
min-height: 50px;
background: none;
border: none;
}

.navbar .navbar-inner .container {
border:none;
}

.navbar .nav {
margin: 0;
display: table;
padding: 10px 0;
}

.navbar .nav ul {
padding-top: 20px;
background: none;
}

.navbar .nav li {
display: table-cell;
background: none;
}

.navbar .nav li a {
font-weight: bold;
text-align: center;
font-family: myMainFont;
font-weight: normal;
font-size: 1.6em;
letter-spacing: 3px;
background: none;
color:#0c2305;
opacity: 0.9;
text-shadow: 1px 1px #81A060;
border-right:#000 dotted 4px;
}

/*target first child in list*/
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}

/*target last child in list*/
.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
background: none;
box-shadow: none;
color: #fff;
text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
text-decoration: none;
}

/*style the navigation at very top of page*/
.nav.top li a{
border:none;
padding: none;
margin-left: 20px;
}

.navbar .nav li > a:hover{
 color: #ff8100;
 text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}

.nav.top img{
margin-top: -10px;
}

/*---------sub-navigation styles----------*/
.subNav {
background: url("../images/circle.png") no-repeat scroll 20px 0 transparent;
font-family: myMainFont;
font-size: 1.3em;
height: 85px;
padding: 40px 30px 50px 10px;
text-align: center;
border: 1px solid black;
}

.subNavLink {
background: url("../images/circleOrange.png") no-repeat scroll 20px 0 transparent;
font-family: myMainFont;
font-size: 0.9em;
height: 65px;
padding:20px 10px 0 0;
text-align:center;
text-decoration: none;
}

.subNavLink a{
text-decoration: none;
color: #000;
}

.subNavLink a:hover {
text-decoration: none;
color: #fff;
}

.subNavDays {
background: url("../images/circleDays.png") no-repeat scroll 15px 0 transparent;
font-family: myMainFont;
font-size: 1.2em;
height: 86px;
padding:32px 50px 10px 0;
margin-bottom: 5px;
margin-top: 10px;
text-align: center;
text-decoration: none;
}

.subNavDays a{
text-decoration: none;
color: #fff;
}

.subNavDays a:hover {
text-decoration: none;
color: #000;
}

.subNavArt{
background:url("../images/circleArtist.png") no-repeat scroll 0 50px transparent;
font-family: myMainFont;
font-size: 1.1em;
height: 85px;
padding: 10px 20px 10px 10px;
text-align: left;
border: 1px solid black;
}
/*remove padding*/
.top{
padding: none;
}

/*-----------------------main sections-----------------------------------*/
section {
padding:10px 5px;
background: repeat scroll 0 0 #CBDDBD;
background-color:rgba(203,221,189,0.5);
-webkit-box-shadow: 8px 6px 5px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    8px 6px 5px rgba(50, 50, 50, 0.35);
box-shadow:         8px 6px 5px rgba(50, 50, 50, 0.35);
}

section.about {
padding:20px 30px;
background: repeat scroll 0 0 #CBDDBD;
background-color:rgba(203,221,189,0.7);
}

section.watchlist {
padding-bottom: 60px;
}

section.about img {
padding:10px;
float: left;
}

article{
margin-bottom: 5px;
background: none;
}

article.news{
margin-bottom: 5px;
/*leave transparant for now*/
background-color:rgba(203,221,189,0);
}

article.news p{
margin-left: 20px;
color:#0f0b06
}

article p{
margin: 10px;
text-align: justify;;
}

article img{
height: auto;
max-width: 90%;
position: relative;
float: left;
padding: 10px; 

}

article.event img{
border: 5px solid black;
box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
padding:0;
margin-left: 10px;
float: none;
}

/*style image inside article with class of artist*/
article.artist img{
border: 5px solid black;
box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
padding:0;
margin:0 10px 10px 10px;
}

/*--style sections in artists pages--*/
.artistImages{
clear:both;
background:url(../images/bgforimages.png) no-repeat 340px 5px;     
}

.artistmenu{
margin-top: 20px;
}

.artistmenu img{
border: 2px solid black;
box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
-moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
inset 8px 10px 10px rgba(255,255,255,0.75);
margin-bottom: 20px;

 
}

/*add backgrounds to watchlist page*/
.bgWatchlist{
background: url('../images/cutout10.png') 95% 5px no-repeat;
}

.bgWatchlistPlain{
background: url('../images/cutout10a.png') 95% 5px no-repeat;

}
/*add backgrounds to contact pages*/
.contactBg{
background: rgba(203,221,189,0.5) url('../images/phone.png') 95% 5px no-repeat;
}

/*----------------------------extra CLASSES----------------------------------------------*/
/*style the way a date is displayed*/
.date{
font-family: myMainFont;
font-size:1.4em;
background: none;
margin-left: 2%;
text-shadow:none;
color: #010101
}
/*style the artists menu list on artists profile pages*/
.addMenuStyle{
width:95%;
padding-bottom: 5px;
padding-left: 3%;
margin-right: 20px;
margin-bottom: 20px;
border-bottom: 4px dotted black;

}

.addMenuStyleLink{
font-size: 0.9em;
margin: 0 10px;
}

.artistLinkimg img{
border: 2px dotted white;
}

.contact a{
padding-left:5px;
}

.slidePadding{
padding-left: 20px;
padding-right: 20px;
}

.contactShift{
padding-left: 73px;
margin-left: 20px;
}

.additionalInfo{
padding: 2%;
}

.additionalInfo p{
font-family: myMainFont;
font-size: 1.3em;
}

/*make div which shows more information display:none until triggered with javascript*/
.slidingDiv {
background:none; 
display: none;
}

.show_hide {
display:none;
}

.desc{
background:none;
}

.map{
text-align: center;
margin:10px;
padding:10px;
}

.contactText{
padding: 0 10px;
}

p.emailForm{
  font-size: 1.2em;
  font-weight: bold;
}

.left{
margin-left:20px;
}

.hiddengallery{
margin-bottom:40px;
}

.hiddengallery img{
border: 1px solid black;
}

.bolder{
  font-weight: bold;
  color:green;
  letter-spacing: 3px;
}

.shiftDown{
margin-top:30px;
}

/*-------------style carousel-----------------*/
/*add to centre image in bootstrap carousel*/
.inner-item {
text-align: center;
}
.inner-item img {
margin: 0px auto;
}

/*style the pagination*/
.pagination {
margin: 5px 0;
background: 
}

.pagination ul li a{
background:rgba(203,221,189,0.8);
border:none;
font-size: 1.2em;

}

/*style error messages*/
.error{
color: red;
}

.errorArticle{
color: #ff8100;
text-shadow: 2px 2px #000;
font-size: 0.8em;
margin-top: 10px;
}

.errorEmail{
color: red;
text-shadow: 1px 1px #000;
font-size: 1em;
margin:10px 0 0 10px;
}

.errorReview{
color: red;
/*text-shadow: 1px 1px #000;*/
font-size: 0.7em;
margin:10px 0 0 10px;
}

.emailflashdata{
color: green;
font-family: myMainFont;
font-size: 1.7em;
letter-spacing: 3px;
margin-bottom: 30px;
margin-left: 1%;
}

/*------------accordion----------------*/
.accordion{
padding: 0 10px;
}

.accordion-group{
border: none;
}

.accordion-inner{

border:none;
}

accordion a{
color: #000;
border:none;
text-decoration: none;
}

.accordion-heading{
background:#809e5f;
}

.accordion-toggle{
color: #000;
text-decoration: none;
}

.accordion-toggle:hover{
color: #fff;
text-decoration: none;
}

.accordion-toggle:active{
color: #fff;
text-decoration: none;
}

/*-----------------------------button styles--------------------*/
/*style main custom button*/
.btn-custom {
color: #000;
font-family: myMainfont;
font-size: 1.2em;
padding: 5px;
background-color: hsl(32, 100%, 40%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa43d", endColorstr="#cc6c00");
background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa43d), to(#cc6c00));
background-image: -moz-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -ms-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa43d), color-stop(100%, #cc6c00));
background-image: -webkit-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -o-linear-gradient(top, #ffa43d, #cc6c00);
background-image: linear-gradient(#ffa43d, #cc6c00);
border-color: #cc6c00 #cc6c00 hsl(32, 100%, 34.5%);
color: #333 !important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
-webkit-font-smoothing: antialiased;
display: inline;
}

.btn.orange {
background: url(../images/orange.png);
padding-top: 17px;
font-weight: bold;
height:40px;
width:42px;
border: none;
margin-bottom: 20px;
}

/*shift moreinfo text upwards*/
.btn.orange.moreinfo{
padding-top:13px;
}

.btn.orange a{
color: black;
border: none;
display: inline-block;
}

.btn.orange a:hover{
color: white;
border: none;
}

.btn:hover{
color: white;
border: none;
}

/*style the vertical buttons on events page*/
.btn-group-vertical{
white-space: wrap;
margin-left: -10px;
padding-right: 10px;
}

.btn-group{
white-space: wrap;
}

.btn-empty{
padding:5px;
}

.btn-pay{
padding:5px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
border:3px solid black;
margin-top: 20px;
}



/*-----------search tool--------------------------------------*/
#search{  
color: green;
margin-left: 20px;
font-size: 0.9em;
width: 180px;
}

.searchBtn{
margin-bottom: 10px;
}

#mainSearch{
  margin: 0;
  width: 30%;
  padding-left:70%;
}

#mainSearch input[type=text]{
width:40%;
font-size: 0.8em;
}

#mainSearch input[type=submit]{
width:30%;
font-size: 0.8em;
height: 30px;
}

/*-------------------table styles----------------------------*/
table.reviews{
background:#fff;
border: dotted 6px orange;
}
table#addReview{
font-family: myMainFont;
font-weight: bold;
letter-spacing: 3px;
}

table#addReview input[type="text"] {
width:200px;
margin:2px;
}

table.comments {
background-color:rgba(203,221,189,0.7);
padding-left:20px;
margin: 50px;
border: dotted 6px orange;
}

table.comments td{
font-family: myMainFont;
color: green;
font-size: 1.4em;
vertical-align: middle;
}

.titles{
font-weight: bold;
}

.endOfSect {
border-bottom: 6px dotted orange;
background-color:none;
padding-bottom: 20px;
margin-bottom: 10px;
}

.endOfSect p{
margin-top: 20px;
}

/*------------------------form styles---------------------------------*/

#newsletterForm{
background: rgba(96,185,209, 0.3);
border:dotted 4px black;
width:90%;
margin: 3%;
padding: 20px;
}

#newsletterForm label{
display: block;
font-size: 1.3em;
font-weight: bold;
color: #000;
font-family: myMainFont;
letter-spacing: 3px;
}

#newsletterForm form input[type=text]{
width:100%;
}

#newsletterForm form input[type=submit]{
background: green;
font-size: 1.2em;
}

/*style the change contrast link form in the footer*/
.contrast input[type=submit]{
background:none;
font-size: 1em;
box-shadow: none;
text-shadow: 2px 1px 0px rgba(255, 255, 255, 1);
border:none;
padding: none;
margin-left: -8px;
margin-top: -5px;
}

.contrast input[type=submit]:hover{
color: #fff;
text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}

.changecontrast {
color: green;
}

/*-------------------------------------footer-------------------------------*/
footer {
border-top: dotted 4px white;
font-family: myMainFont;
font-size: 1.3em;
margin-top: 20px;
padding-top: 20px;
}

footer a {
color: #000;
text-decoration: none;
}

footer ul li a{
background: url(../images/circleSmall.png) no-repeat scroll 1px 10px transparent;
padding: 20px;
}

footer ul li a:hover{
color: #000;
text-decoration: none;
background: url(../images/circleHover.png) no-repeat scroll 1px 10px transparent;
}

/*add style to footer bottom navigation*/
.second a{
background: none;
text-decoration: none;
font-size: 1em;
text-shadow: 2px 1px 0px rgba(255, 255, 255, 1);
}

.second a:hover{
background: none;
color: #fff;
text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}

.second a:active{
border:none;
}

/*style the address section*/
.addressDiv{
width: 80%;
padding: 20px 10px 15px 60px;
font-family: myMainFont;
font-size: 1.3em;
letter-spacing: 4px;
color: #fff;
text-align: center;
margin-bottom:10px;
text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}

/*generic bottom navigation styling*/
.bottomNav{
border-top:4px dotted rgba(0, 0, 0, 0.4);
padding:15px 20px 15px 20px;
font-family: helvetica;
font-size:0.8em;
}


  /* ========================================================
     product Styles
   ===================================================== */

.productsWrap{
/* width: 1024px;*/
}

.productsList{
background: green;
padding: 20px;
}

ul.shop{
list-style-type: none;
margin-left:30px;
padding: 10px;
}
/*style the product image*/
ul.shop img{
  border: 4px dotted green;
  padding: 0;
  max-width:120px;
  height: auto;
  margin-bottom: 4px;
}

/*background for each separate product*/
ul.shop li{
background: #eee;
border: 3px solid #d3d3d3;
padding: 5px;
width: 250px;
text-align: center;
font-size: 0.9em;
float: left;
margin: 10px;
height: 400px;
}

ul.shop li p.highlight{
color: #325a1b;
font-weight: bold;
}

ul.shop form input[type=text]{
width: 18px;
background: #FFF;
border: 1px solid #d3d3d3;
}

/*this helps style the cart*/
.cartMain{
margin-top:140px;
padding: 20px;
}

.cart a{
color: #000;
}

.cart a:hover{
color: #fff;
}

.cart table thead tr td{
border-bottom: 1px solid #d3d3d3;
padding: 5px;
background: #FFF;
}

.cart table tbody tr td{
padding: 5px;
background: #FFF;
}

.cart table tbody tr td input[type=text]{
background: #FFF;
border: 1px solid #d3d3d3;
width: 25px;
}

.cart table tbody tr.alt{
background: #f5f5f5;
}

.purchasedItem{
margin-bottom: 20px;
margin-top: 10px;

}
.purchasedItem img{
width:100px;
margin-bottom: 30px;
margin-left: 40px; 
}


/* ========================================================
   Subscription Panel Slide Styles
   ===================================================== */
.tab ul li a{
list-style-type: none;
}
/*style the subscription link*/
.tab a.open {
line-height: 20px !important;
padding-left: 10px !important;
cursor: pointer;
width: 100px;
position: relative;
top: 2px;
text-decoration: none;
background-color:none;
color: black;
text-shadow: 2px 1px 0px rgba(255, 255, 255, 1);
opacity: 1;
list-style-type: none;
}
/*style the close link inside the subsccription panel*/
a.close {
font-family: myMainFont;
font-size: 1.4em;
float: none;
font-weight: normal;
margin-left: 10px;
padding-top: 30px;
margin-top: 10px;
color: black;
opacity: 1;
text-shadow:none;
}


a.open:hover {
color: white;
text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
opacity: 1;
}

a.close:hover {
color: white;
text-shadow:none;
opacity: 1;
}

/*style the subscription panel. Initially set-up to not display*/
#panelSlide {
width: 100%;
overflow: hidden;
position: relative;
z-index: 3;
display: none;
margin-bottom: 20px;
}


#panelSlide .content {
width: 100%;
margin: 0 auto;
padding-top: 20px;
text-align: left;
font-size: 0.85em;
background:#809e5f;
background: rgba(96,185,209, 0.9);
}

#panelSlide .content form {
margin: 0 0 10px 0;
}

#panelSlide .content label {
float: left;
color: black;
font-size: 1.2em;
padding-top: 8px;
margin-left: 5px;
}
/*style the input field of the subscription panel*/
#panelSlide .content input.field {
border: 1px #1A1A1A solid;
background: #fff;
margin: 4px 5px 0 8px;
float: left;
width: 30%;
color: black;
height: 16px;
}
/*style the submit button of the subscription panel*/
#panelSlide input[type="submit"] {
margin-left: 2%;   
width:120px;
color: #000;
font-family: myMainfont;
font-size: 1.2em;
background-color: hsl(32, 100%, 40%) !important;
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa43d", endColorstr="#cc6c00");
background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa43d), to(#cc6c00));
background-image: -moz-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -ms-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa43d), color-stop(100%, #cc6c00));
background-image: -webkit-linear-gradient(top, #ffa43d, #cc6c00);
background-image: -o-linear-gradient(top, #ffa43d, #cc6c00);
background-image: linear-gradient(#ffa43d, #cc6c00);
border-color: #cc6c00 #cc6c00 hsl(32, 100%, 34.5%);
color: #333 !important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.36);
-webkit-font-smoothing: antialiased;

}
/*style the input field when user places focus*/
#panelSlide .content input:focus.field {
background: #ccc;
}
/*---------------------end of panel slides------------------------*/

/* ========================================================
      showreel Styles
   ===================================================== */
#container_showreel{
margin-bottom: 30px;
clear: both;
}

#showreelnav {
/*position:fixed;*/
top:310px;
left:80px;
z-index:1000;
}

#p1{
background: url(../images/parallax/fiona.png) 80% 0 no-repeat fixed;
height:1000px;
margin: 0px auto;
width:100%;
max-width:1920px;
position: relative;
box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}

#p2{
background: url(../images/parallax/bridie.png) 50% 0 no-repeat fixed;
height:1000px;
margin: 0px auto;
width:100%;
max-width:1920px;
position: relative;
box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}

#p3{
background: url(../images/parallax/miaa.png) 50% 0 no-repeat fixed;
height:1000px;
margin: 0px auto;
width:100%;
max-width:1920px;
position: relative;
box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}

#p4{
background: url(../images/parallax/dan.png) 50% 0 no-repeat fixed;
height:1000px;
margin: 0px auto;
width:100%;
max-width:1920px;
position: relative;
box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}


div.text{
position:absolute;
text-align:center;
padding:20px;
border-radius: 25px;
}

div.text img{
float:left;
}

#p1 div.text{
top:280px;
width:30%;
left:10%;
background-color:rgba(158,25,53,0.7);
color: #fff;
}

#p2 div.text{
top:50px;
width:30%;
left:10%;
background-color:rgba(24,154,241,0.7);
}


#p3 div.text{
top:50px;
width:65%;
left:30%;
background-color:rgba(52,87,14,0.7);
color: #fff;

}

#p4 div.text{
top:100px;
width:20%;
left:10%;
background-color:rgba(34,19,153,0.7);
color: #fff;

}

div.pic{
min-height: 1000px;
width:100%;
max-width:1920px;
position: relative;
padding: 0px;
margin: 0px;
}


#p1 div.pic {
background: url(../images/parallax/pic1.jpg) 80% 330px no-repeat fixed;
}

#p2 div.pic {
background: url(../images/parallax/pic2.jpg) 70% 400px no-repeat fixed;
}

#p3 div.pic {
background: url(../images/parallax/pic3.png) 50% 100px no-repeat fixed;
}

#p4 div.pic {
background: url(../images/parallax/pic4.png) 90% 100px no-repeat fixed;

}

/*---------------------end of showreel slides------------------------*/

/*---------------------form for buying products------------------------*/
.contact_formProduct{
margin-top: 40px;
}
/*--- Remove input autofocus webkit --- */
*:focus {outline: none;}

/*---Form Type ---*/
.contact_formProduct h2, .contact_formProduct label {
font-family: myMainFont;
}
/*style the form hints and required notifation at top of form*/
.form_hint, .required_notification {
font-size: 0.7em;
}

/* --- List Styles --- */
.contact_formProduct ul {
width:750px;
list-style-type:none;
list-style-position:outside;
margin:0px;
padding:0px;
}
.contact_formProduct li{
padding:12px; 
border-bottom:1px solid #eee;
position:relative;
} 
/*have different border at top and bottom of form*/
.contact_formProduct li:first-child, .contact_formProduct li:last-child {
border-bottom:1px solid #777;
}

/* --- Form Header --- */
.contact_formProduct h2 {
  margin:0;
  display: inline;
}
.required_notification {
  color:#d45252; 
  margin:5px 0 0 0; 
  display:inline;
  float:right;
}

/* --- Form Elements --- */
.contact_formProduct label {
  width:150px;
  font-size: 1em;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}
.contact_formProduct input {
  height:20px; 
  width:220px; 
  padding:5px 8px;
}
.contact_formProduct textarea {padding:8px; width:300px;}
/*shift submit button to the right*/
.contact_formProduct button {
margin-left:156px;
}

  /* form element visual styles */
.contact_formProduct input, .contact_formProduct textarea { 
border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
padding-right:30px;
-moz-transition: padding .25s; 
-webkit-transition: padding .25s; 
-o-transition: padding .25s;
transition: padding .25s;
}
.contact_formProduct input:focus, .contact_formProduct textarea:focus {
background: #fff; 
border:1px solid #555; 
box-shadow: 0 0 3px #aaa; 
/*increase the length of the input box on focus*/
padding-right:70px;
}

/* --- HTML5 validation styles --- */ 
.contact_formProduct input:required, .contact_formProduct textarea:required {
  background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}
.contact_formProduct input:required:valid, .contact_formProduct textarea:required:valid {
  background: #fff url(../images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}
.contact_formProduct input:focus:invalid, .contact_formProduct textarea:focus:invalid {
  background: #fff url(../images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}

/* --- Form hints --- */
.form_hint {
  background: #12741e;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin-left:8px;
  padding: 1px 6px;
  z-index: 999; /* hints stay above all other elements */
  position: absolute; /* allows proper formatting if hint is two lines */
  display: none;
}
/*style the arrow on left of teh form hint box*/
.form_hint::before {
  content: "\25C0";
  color:#12741e;
  position: absolute;
  top:1px;
  left:-6px;
}
.contact_formProduct input:focus + .form_hint {display: inline;}
.contact_formProduct input:required:valid + .form_hint {background: #28921f;}
.contact_formProduct input:required:valid + .form_hint::before {color:#28921f;}
  

/*----------tooltips---------------------------*/

.tooltip {
padding:10px 15px;
width:150px;
display:none;
color:#fff;
text-align:left;
font-size:12px;
/* outline radius for mozilla/firefox only */
-moz-box-shadow:0 0 10px #000;
-webkit-box-shadow:0 0 10px #000;
}

.ui-tooltip, .arrow:after {
position: absolute;
padding: 10px;
}
  
.ui-tooltip {
z-index:10;
width:200px;
max-width:100%;
font-size:1em;
}



/* ==========================================================================================
 --------------------MEDIA QUERIES for max-width: 768px-------------------------------------
 ==========================================================================================
 ------------------------------------------------------------------------------
  ======================================================================================= */

@media (max-width: 768px) {

h2 { 
float: left;
width:90%;
}

/*make navigation display as vertical menu*/
.navbar  .navbar-inner li{
width: 100%;
display: block;
}

.navbar .nav li > a{
display: block;
background: none;
border: none;
text-align: left;
}

/*shift search tool*/
#mainSearch{
width: 50%;
padding-left:50%;
}

.subNavLink {
text-align: left;
width: 100%;
padding-left: 25px;
font-size: 0.9em;
}

.artistLinkimg{
padding:10px;
}

.addMenuStyle{
font-size: 0.7em;
margin-left: 5px;
 padding-left: 5px;
}

/*move the shopping cart underneath the products*/
.cartMain{
clear:both;
}


/*-------button styles----------*/
.btn-group{
margin-left: 5%;
}

.btn-group-vertical > .btn {
display: inline;
}

.btn.orange {
background: url(../images/orange.png);
font-weight: bold;
height:40px;
width:40px;
border: none;
display: inline-block;
margin-right: 15px;

}

/*style paynow button div*/
.paybutton{
margin:20px;
padding-left:20px;
}

.btn-empty{
font-size: 0.9em;
}

.btn-pay{
font-size: 0.9em;
}

/*------footer styles-------*/

footer ul li.topNav a{
font-size:0.8em;
}

footer ul li a{
background: url(../images/circleSmallFooter.png) no-repeat scroll 1px 10px transparent;
padding: 10px;
}

.addressDiv{
width: 100%;
padding: 10px 8px 8px 8px;
margin: 0px;
color: #000;
font-family: myMainFont;
font-size: 0.9em;
letter-spacing: 2px;
background: orange;
text-shadow:none;
}

/*target span1 with class of top*/
[class*="span"] .span1.top{  
display: inline; 
width: 10%;
margin-bottom: 20px;
margin-left: 0;
}

/*override bootsrap span styles*/

[class*="span"] .span1 ,subNavArtist 
{ display: inline-block; width: 10%}
.btn-group{
margin-left:1%;
}

[class*="span"] .span2.topSectionBut{   
display: inline-block; 
width: 93%;
margin-bottom: 20px;
}

/*override bootsrap span styles*/
/*this drops the three vertical buttons underneath thh events*/
[class*="span"] .span2.verticalBtns
{ display: inline-block; width: 23%}
.btn-group{
margin-left: 25%;
}

/*resize font of footer bottom navigation*/
.second a{
font-size:0.8em;
}

.tab a.open{
font-size:0.8em; 
}

.contrast{
font-size:0.8em;

}



}

/* ==========================================================================================
 --------------------MEDIA QUERIES for  320px - 568px-------------------------------------
 ==========================================================================================*/

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
  
body{
font-size:1em;
padding:5px;
}

.container{
border: none;
padding: 0;
margin: 0;
}

h2 {
background:none;
float: left;
margin-left:6%;
width:100%;
}

h7 a {
width: 70px;
height:80px;
display: inline-block;
font-family: myMainFont;
font-size:1em;
margin-left:2%;
padding-top: 35px;
padding-left: 24px;
opacity: 0.9;
text-decoration: none; 
color: #fff;
background: url("../images/circleDaysSmall.png") no-repeat scroll 10px 12px; transparent;
}

h8 a{
display: inline;
color: green;
background: none;
}

.subNavLink {
text-align: left;
width: 100%;
padding-left: 25px;
font-size: 0.9em;
}


/*--button styles----*/
.btn.orange {
background: url(../images/orange.png);
font-weight: bold;
height:42px;
width:42px;
/*margin-bottom: 50px;*/
border: none;
display: inline-block;
}

.btn-empty{
font-size: 0.7em;
}

.btn-pay{
font-size: 0.7em;
}


.cartMain{
clear:both;
}

/*------footer styles-------*/

footer ul li a{
font-size: 0.7em;
}

footer ul li.topNav a{
  font-size:0.8em;
  width: 100%;
 /* display: inline-block;*/
}

/*resize font and position of footer bottom navigation with class of second*/
.second a{
font-size:1em;
margin-left:7px;
}

.tab a.open{
font-size:1em; 
}

.contrast{
font-size:1em;
}

/*get rid of top and left margin for mobile view*/
.contrast input[type=submit]{
margin: 0;
}

/*move shop items left*/
ul.shop{
margin-left:0;
padding: 10px;
}


#mainSearch{
width: 100%;
padding-left:0%;
}

/*to place bookmarks and log in on separate lines*/
[class*="span"] .span2.topSectionBut{  
display: inline-block; 
width: 93%;
margin-bottom: 20px;
}

[class*="span"] .span1.top{  
display: inline; 
width: 20%;
margin-bottom: 20px;
margin-left: 0;
}

/*this is in footer.makes each link in the the top navigation in the footer take its own line*/
[class*="span"] .span2.topNav{  
display: inline-block; 
width: 93%;
margin-bottom: 20px;
}

/*override bootsrap span styles*/
[class*="span"] .span2 ,subNav 
{ display: inline-block; width: 23%}
.btn-group{
margin-left: 25%;
}

[class*="span"] .span1 ,subNavArtist 
{ display: inline-block; width: 23%}
.btn-group{
margin-left: 25%;
}



}




